.vs/*
bin/*
obj/*
.env.*
.containers
.seed
*.csproj.*
scripts/*
*.local*
*.db

src/api/bin/*
src/api/obj/*
src/api/appsettings.*.json

src/application/bin/*
src/application/obj/*

src/contracts/bin/*
src/contracts/obj/*

src/domain/bin/*
src/domain/obj/*

src/infrastructure/bin/*
src/infrastructure/obj/*
src/infrastructure/Persistence/Migrations/*

src/notifier/bin/*
src/notifier/obj/*
src/notifier/appsettings.*.json
src/notifier/Persistence/Migrations/*

/docker-compose.*.yml
/tests/Architecture.Tests/bin/*
/tests/Architecture.Tests/obj/*
